* {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: unset;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.align {
    align-items: center;
}

.justify {
    justify-content: center;
}

.h-100 {
    height: 100%;
}

.gap-13 {
    gap: 13px;
}

.gap-56 {
    gap: 56px;
}

.pg-r30 {
    padding-right: 30px;
}

.contacts-wrapper {
    margin-left: 232px;
    margin-top: 96px;
    box-sizing: border-box;
    height: calc(100vh - 96px);
    display: flex;
}

.main_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    margin-left: 30px;
    margin-bottom: 60px;
    height: 73px;
    width: 569px;
}

.h1_title_summary {
    font-size: 61px;
}

.title_discription {
    font-size: 27px;
}

.title_seperator {
    order: 0;
}

.contact-list-sidebar-outer {
    width: 456px;
    background-color: #FFFFFF;
    box-shadow: 4px 0 6px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    padding: 32px 52px 0px 52px;
    overflow-y: scroll;
}

.button_add_contact {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.add-contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 16px 24px;
    background-color: #2A3647;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.add-contact-btn-mobile {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 56px;
    width: 56px;
    background-color: #2A3647;
    color: #FFFFFF;
    border-radius: 50%;
    border: none;
    transition: all 300ms ease-out;
}

.add-contact-icon-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-contact-btn:hover {
    background-color: var(--primary-hover);
    box-shadow: var(--shadow-hover);
}

.add-contact-btn:active {
    background-color: var(--primary-active);
}

.add-contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}

.contact-list-card {
    display: flex;
    align-items: center;
    padding: 15px 24px;
    border-radius: 10px;
    gap: 35px;
    cursor: pointer;
}

.contact-list-card:hover {
    background-image: linear-gradient(180deg, #F9F9F9, #F0F0F0);
}

.contact-list-card-active {
    display: flex;
    align-items: center;
    padding: 15px 24px;
    border-radius: 10px;
    gap: 35px;
    cursor: pointer;
    color: var(--white);
    background-color: var(--primary);
}

.contact-list-card-active:hover {
    background-color: var(--primary);
}


.contact-list-letter {
    height: 58px;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-left: calc(24px + 14px);
}

.contact-list-separator {
    margin: 8px 0;
    height: 0px;
    border: 1px solid #D1D1D1;
    border-radius: 3px;
}

.contact-list-name {
    font-size: 20px;
    margin-bottom: 5px;
}

.contact-list-email {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 200px;
}

.contact-large {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    margin-top: 60px;
    padding-left: 30px;
    gap: 22px;
    overflow-x: hidden;
    animation: floatFromRight 200ms ease-out forwards;
}

.icon-div {
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 8px;
}

.error-msg {
    min-height: 0px;
    line-height: 0px;
    font-size: 12px;
    color: var(--red);
    padding-left: 2px;
    display: flex;
    align-items: center;
}

.two-buttons {
    height: 48px;
    margin-top: 35px;
    text-align: left;
    display: flex;
    gap: 35px;
}


@keyframes floatFromRight {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes floatFromRightOverlay {
    0% {
        top: 50%;
        transform: translate(50%, -50%);
        opacity: 0;
    }

    100% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.contact-name-large {
    font-size: 47px;
}

.user-circle-large {
    min-width: 120px;
    min-height: 120px;
    font-size: 47px;
    border: 4px solid var(--white);
}

.contact-large button:focus {
    outline: var(--primary-active);
}

.contacts-edit-delete-buttons {
    display: flex;
    flex-direction: row;
    gap: 13px;
    align-items: center;
    border: none;
    background-color: unset;
}

.contacts-edit-delete-buttons:hover {
    color: var(--primary-hover);
    font-weight: 700;
    cursor: pointer;
}

.contacts-edit-delete-buttons:hover svg path {
    fill: var(--primary-hover);
}

.contact-head {
    padding: 30px 0;
    font-weight: 400;
    font-size: 20px;
}


/* CONTACT-DIALOG-DESKTOP */

.contact-dialog-desktop {
    padding: 0;
    z-index: 99;
    position: fixed;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    border: none;
    outline: none;
    height: 600px;
    width: min(90vw, 1240px);
    border-radius: 24px;
    animation: floatFromRightOverlay 200ms ease-out forwards;
}

.contact-dialog-desktop::backdrop {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
}

.close-button-position {
    position: absolute;
    right: 30px;
    top: 50px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--white);
}

.close-button-position:hover {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--bg-color);

}

.contact-dialog-add {
    background-color: var(--primary);
    width: max(467px);
    padding: 0 45px;
}

.contact-dialog-h2 {
    font-size: 61px;
    font-weight: 700;
}

.contact-dialog-h3 {
    font-size: 27px;
    font-weight: 400;
}

.contact-dialog-line {
    margin-top: 13px;
    width: 90px;
    height: 3px;
    background-color: var(--primary-hover);
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-field {
    display: flex;
    justify-content: space-between;
    width: 352px;
    height: 48px;
    border: 2px solid #d1d1d1;
    border-radius: 8px;
}

.input_login {
    outline: none;
    border: none;
    font-family: inherit;
    flex: 1;
    margin-left: 8px;
    margin-right: 8px;
}

.btn_contact_cancel {
    color: var(--primary);
    border: 1px solid var(--primary);
    background-color: var(--white);
    border: 1px solid var(--primary);
    border-radius: 10px;
}

.btn_contact_cancel:hover {
    color: var(--primary-hover);
    border: 1px solid var(--primary-hover);
    box-shadow: var(--shadow-hover);
}

.btn_contact_cancel:hover svg path {
    stroke: var(--primary-hover);
    /* ← HIER gehört stroke hin! */
}

.btn_contact_create:disabled {
    cursor: inherit;
    color: var(--primary);
    background-color: var(--bg-color);
}

.btn_contact_create:disabled:hover {
    background-color: var(--bg-color);
    box-shadow: none;
}


.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 70%;
    transform: translate(-50%, 0%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 8px;
    padding: 10px;
    background-color: var(--primary);
    color: var(--white);
    width: min(512px, 100%);
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 9;
}

.popup.show {
    display: block;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.user_idle_add_task {
    padding: 30px;
}

@media(max-width: 1400px) {

    /* CONTACTS.html */
    .main_title {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 30px;
        width: unset;
    }

    .title_seperator img {
        transform: rotate(90deg);
        margin-left: 30px;
    }

    .tile_summary {
        order: 1;
    }

    .title_summary_discription {
        order: 2;
    }

    .title_seperator {
        order: 3;
    }
}

@media (max-width: 1050px) {

    .contacts-wrapper {
        flex-direction: column;
    }

    .contact-list-sidebar-outer {
        width: auto;
        height: 64%;
    }

    .add-contact-btn {
        margin-bottom: 10px;
        width: 352px;
    }

    .contact-list-letter {
        height: 24px;
    }

    .column {
        margin-bottom: 16px;
    }

    .main_title {
        margin-bottom: 0;
    }

    .user-circle-large {
        min-width: 60px;
        min-height: 60px;
        font-size: 24px;
    }

    .user-circle-initials {
        font-size: 24px;
    }

    .button_add_contact {
        justify-content: center;
    }

    .contact-dialog-add {
        padding: 0 16px;
    }

}

@media (max-width: 930px) {
    .contact-dialog-desktop {
        width: 95%;
    }

    .user_idle_add_task {
        padding: 16px;
    }

    .input-field {
        width: 300px;
    }

    .two-buttons {
        gap: 16px;
    }
}

@media (max-width: 768px) {
    .main_title {
        display: none;
    }

    .contacts-wrapper {
        margin: 80px 0 0 0;
        height: 100%;
        flex-direction: column-reverse;
    }

    .contact-list-sidebar-outer {
        padding: 16px;
        box-shadow: none;
    }

    .add-contact-btn {
        margin-top: 30px;
    }

    .add-contact-btn {
        display: none;
    }

    .add-contact-btn-mobile {
        display: flex;
    }

    .button_add_contact {
        justify-content: flex-end;
        top: 80%;
        position: fixed;
        right: 16px;
    }

    #contactAddModal {
        position: fixed;
        top: 120%;
        left: 50%;
        transform: translate(-50%, -60%);
        width: 95%;
        height: calc(100vh - 160px);
        opacity: 0;
    }

    #contactAddModal.open {
        animation: floatFromBottomOverlay 0.55s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    }

    @keyframes floatFromBottomOverlay {
        0% {
            top: 120%;
            left: 50%;
            transform: translate(-50%, -60%);
            opacity: 0;
        }

        100% {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 1;
        }
    }
}

    @media (max-width: 480px) {
        .flex {
            display: none;
        }

        .contact-list-sidebar-outer {
            margin: 0;
            height: calc(100svh - 80px);
        }

        .contact-list-card {
            justify-content: center;
            padding: 15px 0;
        }
    }

    @media (max-width: 370px) {
        .contact-list-letter {
            padding: 0;
        }
    }